*{font-family: 'Press Start 2P', cursive;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    /* background-color: rgb(88, 203, 218); */
    background-image: url(pared2.jpg);
}

a{  margin-top: 30px;
    font-size: 3rem;
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
    transition: 0.5s;
}
a:hover{
    
    color: yellow;
}

h1{ color: rgb(255, 255, 255);
    text-shadow: 20px 10px 20px  black;
font-size: 60px;

text-align: center
}

p{ color: rgb(255, 255, 255);
text-shadow: 20px 10px 20px  black;
font-size: 30px;

text-align: center}

.tic-tac-toe{
    display: flex;
    justify-content: center;
    align-items: center;
    ;
}

.tic-tac-toe #gameboard {
    width: 60vmin;
    height: 60vmin;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
}

.tic-tac-toe button {
    width:22vmin;
    height: 22vmin;
    background: rgb(182, 173, 173);
    border: 5px solid black;
    margin: 0;
    font: 0/0 transparent;
}

.tic-tac-toe [aria-label="x"] {
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201%201%22%3E%3Cline%20x1%3D%220.1%22%20y1%3D%220.1%22%20x2%3D%220.9%22%20y2%3D%220.9%22%20stroke-width%3D%220.1%22%20stroke%3D%22red%22%2F%3E%3Cline%20x1%3D%220.1%22%20y1%3D%220.9%22%20x2%3D%220.9%22%20y2%3D%220.1%22%20stroke-width%3D%220.1%22%20stroke%3D%22red%22%2F%3E%3C%2Fsvg%3E');
}

.tic-tac-toe [aria-label="o"]{
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201%201%22%3E%3Ccircle%20cx%3D%220.5%22%20cy%3D%220.5%22%20r%3D%220.4%22%20fill%3D%22none%22%20stroke-width%3D%220.1%22%20stroke%3D%22blue%22%2F%3E%3C%2Fsvg%3E');
}

.tic-tac-toe .highlighted{
    background-color: yellow;
}

.warning {
    color: red;
}

.success {
    color: green;
    background-color: yellow;
}